* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #141414;
    color: #fff;
}

img {
    max-width: 100%;
}

.main-header {
    background: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.main-header .inveflix-logo {
    max-width: 100px;
}

.main-header .search {
    position: relative;
}

.main-header .search input {
    position: relative;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    padding: 0px 10px;
    margin-right: 40px;
    z-index: 1;
    border: none;
}

.main-header .search button {
    position: absolute;
    height: 30px;
    padding: 0 15px 0 50px;
    border-radius: 30px;
    top: 0;
    right: 0;
    z-index: 0;
    border: none;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.results-list li {
    flex-basis: calc(100% / 7 - 10px);
    margin: 0 5px;
    text-align: center;
}

.results-list li .flag {
    max-width: 20px;
}