<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body>

    <div id="app">
        <input 
            type="text"
            placeholder="Cerca un Film o una Serie TV"
            v-model="inputText"
            @keyup.enter="searchItem"
        >
        <button @click="searchItem" class="search"><i class="fas fa-search"></i></button>
        <ul class="results-list">
            <li v-for="film in films">
                <h1 class="title">{{ film.title }}</h1>
                <h2 class="original-title">{{ film.original_title }}</h2>
                <h3 class="language">{{ film.original_language }}</h3>
                <h3 class="rating">{{ film.vote_average }}</h3>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
    
</body>
</html>